.clientContainer {
  margin-top: 80px;
  padding: 0 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.ContenedorG {
  background-color: #012b40;
  width: 100%;
  max-width: 400px;
  min-height: 600px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding: 30px 15px;
}

.tarjeta {
  background-color: #F0F8FF;
  border-radius: 10px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.6);
  padding: 15px;
  text-align: center;
  width: 100%;
  max-width: 280px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.tarjeta:hover {
  transform: scale(1.05);
}

.tarjeta img {
  max-width: 100%;
  height: auto;
}
