body.home-page {
    background-color: #132E3C !important;
  }
  
  .body-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  .body-login .card-recovery {
    background: #fff;
    padding: 40px;
    border-radius: 20px;
    width: 900px;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .top-bar {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  .back-icon {
    cursor: pointer;
  }
  
  .title-recovery {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .logo-img-olvar-contra {
    width: 170px !important;
    height: 160px !important;
    margin-bottom: 20px;
    border-radius: 20px;
  }
  
  .form-recovery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  
  .input-recovery {
    padding: 15px;
    width: 95%;
    height: 50px;
    border: 2px solid #ccc;
    border-radius: 20px;
    background-color: #e0e0e0;
    font-size: 18px;
    color : #000000;
  }
  
  
  .body-login .btn-recovery {
    margin-top: 20px;
    padding: 12px;
    font-size: 18px;
    width: 20%;
    height: 20%;
    background-color: #00aaff;
    color: #fff;
    border: 3px solid #233d4b;
    border-radius: 25px;
    cursor: pointer;
  }
  
  .body-login .btn-recovery:hover {
    background-color: #008ecc;
  }
